In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("Uber_Ride_Reviews.csv")

# EDA

In [13]:
df.head()

                                         ride_review  ride_rating  sentiment
0  I completed running New York Marathon requeste...          1.0          0
1  My appointment time auto repairs required earl...          1.0          0
2  Whether I using Uber ride service Uber Eats or...          1.0          0
3  Why hard understand I trying retrieve Uber cab...          1.0          0
4  I South Beach FL I staying major hotel ordered...          1.0          0

In [14]:
df.shape

(1344, 3)

In [15]:
df.columns

Index(['ride_review', 'ride_rating', 'sentiment'], dtype='object')

In [16]:
df.isnull().sum()

ride_review    0
ride_rating    0
sentiment      0
dtype: int64

In [24]:
df['ride_rating'].value_counts()

1.0    1041
5.0     124
2.0      70
4.0      59
3.0      50
Name: ride_rating, dtype: int64